
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Template">
    <meta name="keywords" content="admin dashboard, admin, flat, flat ui, ui kit, app, web app, responsive">
    <link rel="shortcut icon" href="~/assets/img/ico/favicon.png">
    <title>Login</title>

    <!-- Base Styles -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->


</head>

<body class="login-body">

    <div class="login-logo">
        <img src="~/assets/img/login_logo.png" alt="" />
    </div>

    <h2 class="form-heading">GİRİŞ YAP</h2>
<div class="container log-row">
    @if (TempData["mesaj"] != null)
    {
        <div  align="center" class="alert-danger text-center"  >@Html.Raw(TempData["mesaj"]) </div>
    }
    <form class="form-signin" action="@Url.Action("SignIn", "Account")" method="post">
        <div class="login-wrap">
            <input type="text" name="username" class="form-control" placeholder="Kullanıcı Adı" autofocus>
            <input type="password" name="password" class="form-control" placeholder="Şifre">
            <button class="btn btn-lg btn-success btn-block" type="submit">Giriş Yap</button>

            <label class="checkbox-custom check-success">
                <input type="checkbox" value="remember-me" id="checkbox1"> <label for="checkbox1">Beni Hatırla</label>
                <a class="pull-right" data-toggle="modal" href="login.html#forgotPass"> Şifremi Unuttum</a>
            </label>

            <div class="registration">
                Bir hesabım yok?
                <a class="" href="registration.html">
                    Kayıt Ol.
                </a>
            </div>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgotPass" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Şifremi Unuttum?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Şifrenizi sıfırlamak istediğiniz e posta adresinizi yazınız</p>
                        <input type="email" name="email" placeholder="E posta" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Kapat</button>
                        <button class="btn btn-success" type="button">Sıfırla</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>
</div>


    <!--jquery-1.10.2.min-->
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <!--Bootstrap Js-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="http://thevectorlab.net/slicklab/js/jrespond..min.js"></script>

</body>
</html>
